# SPDX-FileCopyrightText: Copyright (c) 2025-2025 NVIDIA CORPORATION & AFFILIATES.
#                         All rights reserved.
# SPDX-License-Identifier: Apache-2.0
---
version: 2
updates:

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      # Check for updates to GitHub Actions every month
      interval: "monthly"
    labels:
      - CI

    open-pull-requests-limit: 1

    groups:
      actions-monthly:
        applies-to: version-updates
        patterns: ["*"]
        update-types: ["minor", "patch"]
