# SPDX-FileCopyrightText: Copyright (c) 2025 NVIDIA CORPORATION & AFFILIATES. All rights reserved.
# SPDX-License-Identifier: BSD-2-Clause

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0 # Use the latest version or a specific tag
  hooks:
    - id: check-added-large-files
    - id: check-ast
    - id: check-merge-conflict
    - id: check-toml
    - id: check-yaml
      exclude: ^conda/recipes/numba-cuda/meta.yaml
    - id: debug-statements
      exclude: examples/debugging/hello.py
    - id: end-of-file-fixer
    - id: trailing-whitespace
      exclude: '.+\.patch'
    - id: mixed-line-ending
      args: ['--fix=lf']
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.11.2
  hooks:
    - id: ruff
      args: [--fix]
    - id: ruff-format
- repo: local
  hooks:
    - id: check-spdx
      name: Check SPDX Headers
      entry: python ./toolshed/check_spdx.py
      language: python
      additional_dependencies:
        - pathspec==0.12.1
      exclude: examples/debugging/debugging.code-workspace
- repo: https://github.com/sphinx-contrib/sphinx-lint
  rev: v1.0.2
  hooks:
    - id: sphinx-lint
