# SPDX-FileCopyrightText: Copyright (c) 2024 NVIDIA CORPORATION & AFFILIATES. All rights reserved.
# SPDX-License-Identifier: BSD-2-Clause

name: ci

on:
  push:
    branches:
      - "main"

jobs:
  build-wheels:
    needs:
      - compute-matrix
    uses: ./.github/workflows/wheels-build.yaml
    with:
      build_type: pull-request
      script: "ci/build_wheel.sh"
      matrix: ${{ needs.compute-matrix.outputs.BUILD_MATRIX }}
  test-wheels-deps-wheels:
    needs:
      - build-wheels
      - compute-matrix
    uses: ./.github/workflows/wheels-test.yaml
    with:
      build_type: pull-request
      script: "ci/test_wheel_deps_wheels.sh"
      matrix: ${{ needs.compute-matrix.outputs.TEST_MATRIX }}
      matrix_filter: map(select(.ARCH == "amd64" and (.CUDA_VER | split(".") | .[0] | tonumber >= 12))) | group_by(.CUDA_VER|split(".")|map(tonumber)|.[0]) | map(max_by([(.PY_VER|split(".")|map(tonumber)), (.CUDA_VER|split(".")|map(tonumber))]))
  test-thirdparty-nvmath:
    needs:
      - build-wheels
      - compute-matrix
    uses: ./.github/workflows/wheels-test.yaml
    with:
      build_type: pull-request
      script: "ci/test_thirdparty_nvmath.sh"
      matrix: ${{ needs.compute-matrix.outputs.TEST_MATRIX }}
      # TODO: Enable for CUDA 13 when a supporting version of nvmath-python is available
      matrix_filter: map(select(.ARCH == "amd64" and (.CUDA_VER | split(".") | .[0] | tonumber == 12))) | group_by(.CUDA_VER|split(".")|map(tonumber)|.[0]) | map(max_by([(.PY_VER|split(".")|map(tonumber)), (.CUDA_VER|split(".")|map(tonumber))]))
  test-thirdparty-awkward:
    needs:
      - build-wheels
      - compute-matrix
    uses: ./.github/workflows/wheels-test.yaml
    with:
      build_type: pull-request
      script: "ci/test_thirdparty_awkward.sh"
      matrix: ${{ needs.compute-matrix.outputs.TEST_MATRIX }}
      # TODO: Enable for CUDA 13 in future
      matrix_filter: map(select(.ARCH == "amd64" and (.CUDA_VER | split(".") | .[0] | tonumber == 12))) | group_by(.CUDA_VER|split(".")|map(tonumber)|.[0]) | map(max_by([(.PY_VER|split(".")|map(tonumber)), (.CUDA_VER|split(".")|map(tonumber))]))

  build-docs:
    uses: ./.github/workflows/docs-build.yaml
  coverage-report:
    needs:
      - build-wheels
      - compute-matrix
    uses: ./.github/workflows/wheels-test.yaml
    with:
      build_type: pull-request
      script: "ci/coverage_report.sh"
      matrix: ${{ needs.compute-matrix.outputs.TEST_MATRIX }}
      matrix_filter: 'map(select(.ARCH == "amd64" and .CUDA_VER == "12.9.1" and .PY_VER == "3.12")) | .[0:1]'
