# SPDX-FileCopyrightText: Copyright (c) 2024-2026 NVIDIA CORPORATION & AFFILIATES. All rights reserved.
# SPDX-License-Identifier: BSD-2-Clause

name: Publish packages

on:
  push:
    tags:
      - 'v*'
    # TODO: Remove pull-request branch trigger before merging
    branches:
      - "pull-request/[0-9]+"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-release
  cancel-in-progress: true


jobs:
  ci-vars:
    runs-on: ubuntu-latest
    outputs:
      CUDA_BUILD_VER: ${{ steps.get-vars.outputs.cuda_build_ver }}
      CUDA_PREV_BUILD_VER: ${{ steps.get-vars.outputs.cuda_prev_build_ver }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
        with:
          fetch-depth: 0

      - name: Get CUDA build versions
        id: get-vars
        run: |
          cuda_build_ver=$(yq '.cuda.build.version' ci/versions.yml)
          echo "cuda_build_ver=$cuda_build_ver" >> $GITHUB_OUTPUT
          cuda_prev_build_ver=$(yq '.cuda.prev_build.version' ci/versions.yml)
          echo "cuda_prev_build_ver=$cuda_prev_build_ver" >> $GITHUB_OUTPUT

  build-wheels-linux-64:
    needs: ci-vars
    name: Build linux-64
    secrets: inherit
    uses: ./.github/workflows/build-wheel.yml
    with:
      host-platform: linux-64
      cuda-version: ${{ needs.ci-vars.outputs.CUDA_BUILD_VER }}
      prev-cuda-version: ${{ needs.ci-vars.outputs.CUDA_PREV_BUILD_VER }}

  build-wheels-linux-aarch64:
    needs: ci-vars
    name: Build linux-aarch64
    secrets: inherit
    uses: ./.github/workflows/build-wheel.yml
    with:
      host-platform: linux-aarch64
      cuda-version: ${{ needs.ci-vars.outputs.CUDA_BUILD_VER }}
      prev-cuda-version: ${{ needs.ci-vars.outputs.CUDA_PREV_BUILD_VER }}

  build-wheels-windows:
    needs: ci-vars
    name: Build win-64
    secrets: inherit
    uses: ./.github/workflows/build-wheel.yml
    with:
      host-platform: win-64
      cuda-version: ${{ needs.ci-vars.outputs.CUDA_BUILD_VER }}
      prev-cuda-version: ${{ needs.ci-vars.outputs.CUDA_PREV_BUILD_VER }}

  build-sdist:
    name: Build sdist
    uses: ./.github/workflows/build-sdist.yml

  publish-wheels:
    # TODO: Change to 'PyPI' before merging
    name: Publish wheels to TestPyPI
    needs: [build-wheels-linux-64, build-wheels-linux-aarch64, build-wheels-windows, build-sdist]
    permissions:
      id-token: write
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Download wheels
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131  # v7.0.0
        with:
          pattern: numba-cuda-python*
          path: dist/
          merge-multiple: true
      - name: Download sdist
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131  # v7.0.0
        with:
          name: sdist
          path: dist/
      - name: Display structure of downloaded files
        run: ls -R dist/
      # TODO: Remove TestPyPI step and enable PyPI step before merging
      - name: Publish to TestPyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          repository-url: https://test.pypi.org/legacy/
          verbose: true
      # - name: Publish to PyPI
      #   uses: pypa/gh-action-pypi-publish@release/v1
      #   with:
      #     verbose: true

  build-docs:
    uses: ./.github/workflows/docs-build.yaml

  deploy-docs:
    needs: build-docs
    # TODO: Remove 'if: false' when removing pull-request branch trigger
    if: false
    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
