# SPDX-FileCopyrightText: Copyright (c) 2024 NVIDIA CORPORATION & AFFILIATES. All rights reserved.
# SPDX-License-Identifier: BSD-2-Clause

name: Publish packages

on:
  push:
    tags:
      - 'v*'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-release
  cancel-in-progress: true


jobs:
  compute-matrix:
    runs-on: ubuntu-latest
    outputs:
      BUILD_MATRIX: ${{ steps.compute-matrix.outputs.BUILD_MATRIX }}
    steps:
      - uses: actions/checkout@v4
      - name: Compute Build Matrix
        id: compute-matrix
        run: |
          BUILD_MATRIX="$(yq '.build-matrix' ci/matrix.yml)"
          {
            echo 'BUILD_MATRIX<<EOF'
            echo "${BUILD_MATRIX}"
            echo 'EOF'
          } >> "${GITHUB_OUTPUT}"
  build-conda:
    needs: compute-matrix
    uses: ./.github/workflows/conda-python-build.yaml
    secrets: inherit
    with:
      build_type: release
      script: "ci/build_conda.sh"
      matrix: ${{ needs.compute-matrix.outputs.BUILD_MATRIX }}
      upload_to_anaconda: true
  build-wheels:
    needs: compute-matrix
    uses: ./.github/workflows/wheels-build.yaml
    secrets: inherit
    with:
      build_type: release
      script: "ci/build_wheel.sh"
      matrix: ${{ needs.compute-matrix.outputs.BUILD_MATRIX }}
  build-wheels-windows:
    uses: ./.github/workflows/wheel-windows-build.yaml
    secrets: inherit
  publish-wheels:
    name: Publish wheels to PyPi
    needs: [build-wheels, build-wheels-windows]
    permissions:
      id-token: write
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Download wheels
        uses: actions/download-artifact@v4
        with:
          pattern: wheel-py*
          path: dist/
          merge-multiple: true
      - name: Display structure of downloaded files
        run: ls -R
      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          verbose: true
  build-docs:
    uses: ./.github/workflows/docs-build.yaml
  deploy-docs:
    needs: build-docs
    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
