# SPDX-FileCopyrightText: Copyright (c) 2025 NVIDIA CORPORATION & AFFILIATES. All rights reserved.
# SPDX-License-Identifier: BSD-2-Clause

name: "CI: Test wheel on Windows"

on:
  workflow_call:
    inputs:
      sha:
        type: string
      repo:
        type: string
      script:
        type: string
        default: "./ci/test_wheel.ps1"

jobs:
  tests:
    name: ${{ matrix.PY_VER }}, windows
    strategy:
      fail-fast: false
      matrix:
        PY_VER:
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
          - "3.14"
    runs-on: "cuda-python-windows-gpu-github"
    timeout-minutes: 60
    steps:
      - uses: actions/checkout@v4
        with:
          repository: ${{ inputs.repo }}
          ref: ${{ inputs.sha }}
          fetch-depth: 0

      - name: Update driver
        run: |
          .github/workflows/install_gpu_driver.ps1

      - name: Ensure GPU is working
        run: nvidia-smi

      - uses: actions/download-artifact@v4
        with:
          name: wheel-py${{ matrix.PY_VER }}-windows
          path: wheel

      - name: Display structure of downloaded files
        run: Get-ChildItem -Recurse

      - name: Set up Python ${{ matrix.PY_VER }}
        uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065  # v5.6.0
        with:
          python-version: ${{ matrix.PY_VER }}

      - name: Python tests
        run: |
          ${{ inputs.script }}
        env:
          CUDA_VER: "12.8.0"
